<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.1.0/dist/simpleParallax.min.js"></script>

<div class="yuu parallax-bg">PracticeAppです。</div>


<div class="yuu scrollbox">
  <div class="about-main">
    <h2>PracticeAppとは</h2>
    <p>
      SNSサービスです。
      アイデアを投稿し、他のユーザーとアイデアの共有できます。
    </p>
    <img class="about-img" src="">
  </div>
</div>



<div class="yuu parallax-bg">
  <div class="about-main">
    <h2>使用方法</h2>
    <p>
      ココをコウしてコウ。
    </p>
    <img class="about-img" src="">
  </div>
</div>


