<% provide(:title, @tag.hashname) %>
<div class="row">
  <div class="col-md-9">
    <div class="block1_hash">
         <div class="block2_hash">
            <div class="name_hash">
               <%= @tag.posts.each do |post| %>　
               
                  <%= post %>
                  
                <% end %>　
            </div>
         <div class="edit_hash">
         </div>
        <div class="fllw_hash">
          <span style="margin-right:15px;"></span>
        </div>
       </div>
     </div>
  </div>
</div>

 <div class="row">
   <div class="posted_content">
     <div class="col-md-8">
       <div class="picture_hash">
       </div><!-- .picture -->
     </div>
   </div>
</div>